@import url('https://fonts.googleapis.com/css?family=Yantramanav:300,700');

#card-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
}

p {
  align-items: center;
  border: solid rgb(196, 1, 1) 3px;
  display: flex;
  font-size: 36px;
  font-weight: 700;
  height: 170px;
  justify-content: center;
  margin: 15px;
  width: 317px;
}